<div class="form-group row">
  <label class="col-sm-1 col-form-label">Name</label>
  <div class="col-sm-11">
    <input class="form-control" placeholder="Name" [(ngModel)]="userName">
  </div>
  <br/><br/>
  <label class="col-sm-1 col-form-label">Email</label>
  <div class="col-sm-11">
    <input class="form-control" placeholder="Email" [(ngModel)]="userEmail">
  </div><br/><br/>
  <label class="col-sm-1 col-form-label">Name</label>
  <div class="col-sm-11">
    <select [(ngModel)]="name" class="form-control">
      <option value="fnamelname">First Name + Last Name</option>
      <option value="fnamemnamelname">First Name + Middle Name + Last Name</option>
    </select>
  </div>
</div>
<app-users-list [names]="userName" [email]="userEmail" [name]="name"></app-users-list>
