<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr app-user-row *ngFor="let user of users" [user]="user" (click)="showProfil(user)"></tr>
  </tbody>
</table>



