<div class="card">
  <div class="card-body">
    <h5 class="card-title">User details</h5>
    <p class="card-text"><u>Name:</u> {{user.name}}</p>
    <p class="card-text"><u>Phone:</u> {{user.phone}}</p>
    <p class="card-text"><u>Email:</u> {{user.email}}</p>
    <p class="card-text"><u>Website:</u> {{user.website}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5 class="card-title">Company</h5>
      <p class="card-text"><u>Company name:</u> {{user.company.name}}</p>
      <p class="card-text"><u>Catch phrase:</u> {{user.company.catchPhrase}}</p>
      <p class="card-text"><u>BS:</u> {{user.company.bs}}</p>
    </li>
    <li class="list-group-item">
      <h5 class="card-title">Address</h5>
      <p class="card-text">{{user.address.suite}}, {{user.address.street}}, {{user.address.city}}, {{user.address.zipecode}}</p>
    </li>
  </ul>
</div>
<button type="button" class="btn btn-primary btn-lg mt-3" (click)="backToList()">Go Back</button>
